<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <style>
        table{
            text-align: center; border-collapse: collapse;
            color: white;
            width: 100%;
            background-color: black;
        }
        table, th, tr, td{
            border: 1px solid white; 
            padding: 0.3rem;
        }
        #app{
            margin-left: 10%;
            margin-right: 10%;
            padding: 5%;
            background-color: darkgray;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <input type="text"  v-model="newItemName" placeholder="Nombre" v-on:keyup.enter="agregarItem">
        <input type="number" v-model="newItemValue" placeholder="Valor" v-on:keyup.enter="agregarItem">
        <button v-on:click="agregarItem">Agregar</button>
        <hr>
        <table >
            <tr>
                <th>Index</th>
                <th>Cantidad</th>
                <th>Accion</th>
                <th>Nombre</th>
                <th>Valor</th>
            </tr>
            <tr v-for="(item, index) in items" :key="index" >
                <td>{{ index }}</td>
                <td><span v-if="item.quantity <= 0" style="color: red;">{{ item.quantity }}</span><span v-else>{{ item.quantity }}</span></td>
                <td><button @click="item.quantity++" >+</button><button @click="item.quantity--" >-</button></td>
                <td>{{ item.name }}</td>
                <td>{{ item.value }}</td>
            </tr>
        </table>
        
        <h4>N° Elementos: {{ sumaTotal }}</h4>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js.js"></script>
</body>

</html>